/* pagination */


.pagination {
    text-align: center;
    background-color: transparent;
    display: flex;
    position: relative;
    overflow: hidden;
    margin: auto;
    justify-content: center;
    bottom: 0px;
    padding-top: 50px;
    animation: fadeIn 3s;
}

.pagination a{
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: white;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 700;
    transition: .3s linear;
  }

  .pagination a:hover{
    color: #eb4d4b;
  }


  .bar{
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #eb4d4b;
    bottom: 0;
    left: var(--mouse-x-bar);
  }

  /*
  .pagination a:nth-child(1):hover ~ .bar{
    left: 10%;
  }

  .pagination a:nth-child(2):hover ~ .bar{
    left: 20%;
  }

  .pagination a:nth-child(3):hover ~ .bar{
    left: 30%;
  }

  .pagination a:nth-child(4):hover ~ .bar{
    left: 40%;
  }

  .pagination a:nth-child(5):hover ~ .bar{
    left: 50%;
  }

  .pagination a:nth-child(6):hover ~ .bar{
    left: 60%;
  }

  .pagination a:nth-child(7):hover ~ .bar{
    left: 70%;
  }
  .pagination a:nth-child(8):hover ~ .bar{
    left: 80%;
  }
*/
