
.background-dark{
    /* background: linear-gradient(#1d719e, #572d7b); */
    background: linear-gradient(#1d719e, #572d7b) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

.search-results {
    padding: 0 0 0 30px;
    max-height: 200px;
    background-color: rgb(121, 212, 255);
    overflow: scroll;
}


#title{
    text-align: center;
    color: white;
}

.main-section{
    padding: 10px;
    margin-top: 0;
}

#query{
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 1.1em;
    color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
}

#search{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 46px;
    padding: 10px 26px;
    border: none;
    background: #7DE5ED;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: -1px;
    color: #fff;
}

#form {
    margin-top: 30px;
    position: relative;
    top: 0;
    left: 0;
}
