
.movies {

}

element::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.search-results {
    max-height: 500px;
    width: 100%;
    background-color: lightblue;
    color: white;
    text-align: left;
    overflow: scroll;
}

.theSearchDiv {
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 5px;
    border-color: blue;
}

.theItemDiv {
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.streamingServiceIcon {
    width: 75px;
    height: 75px;
    margin: 0;
}
